#!/bin/bash

TOPIC=`basename "$0"`
exec &> >(logger -t $TOPIC -s)

echo "Backup start"
echo "parameters: $@"

IFS=","
while read filetosync
do
	echo "Processing: $filetosync"
	if [ -d $filetosync ]; then
		echo "Processing folder $filetosync"
		/usr/bin/rsync -rlptDv --delete --delete-after --progress $filetosync rsync://{{ rsyncbackup_server }}::{{ rsyncbackup_remotefolder }}/$HOSTNAME/
		echo < $TMPLOG
	else
		echo "Processing file $filetosync"
		/usr/bin/rsync -rlptDv --delete --delete-after --progress $filetosync rsync://{{ rsyncbackup_server }}::{{ rsyncbackup_remotefolder }}/$HOSTNAME/
		echo < $TMPLOG
	fi
done < {{ rsyncbackup_conf }}
echo "Backup end"
